.video-holder {
  display: block;
  position: relative;
  width: 300px;
  background: #000000;
}

.video-holder:before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 75%;
}

.video {
  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
}

.video-hidden {
  transform: translate(-1000px, -1000px);
}

.stats-holder {
  display: block;
  width: 600px;
  height: 300px;
  overflow-y: scroll;
}

.stats-table {
  width: 100%;
  border-collapse: collapse;
}
